*{
    margin: 10px;

}

body{
    background-color: rgb(172, 17, 17);
}

.Contenedor{
    background-color:rgba(214, 181, 181, 0.534);
    border-radius: 25px;
}

.Boton{
    background-color: rgb(143, 11, 11);
}

