


/* Selector Universal */
*{
    margin: 0;
    padding: 0;
}

/* Selector de etiqueta */
body{
    background-color: rgba(202, 77, 5, 0.301);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Selecotor de ID */
#Contenedor{
 
    background-color: rgba(202, 78, 5, 0.534);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

/* Selector de ID */
#Encabezado{
 
    background-color: rgba(77, 31, 4, 0.534);
    border-radius: 5px;
    text-align: center;
}

/* Selector de ID*/
#Menu{

    background-color: rgba(77, 31, 4, 0.664);
    margin: 1em;
    border-radius: 5px;
}

/* Selector de Etiqueta */
ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}


li a:hover{
    color: rgba(77, 31, 4, 0.664);
    font-size: 20px;
    text-decoration:  none;
    list-style: none;
}

/* Selector de Clase */
.img{
    width: 50%;
    border-radius: 30px;
}

.texto{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #f0e6e6;
}

.pie{
    height: 40px;
    background-color: rgba(110, 58, 27, 0.664);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}

.pie h4{
    padding: 15px;
    font-size: 20px;
    background-color: rgba(114, 53, 18, 0.664);
}

/* card */
.card{
    box-shadow: 0 7px 8px 0 rgba(226, 122, 36, 0.63);
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    margin: 13px;
}

.card:hover{
    max-width: 310px;
}

.card img{
    
    justify-content: center;
}

.card h1{
    font-family: "Big Shoulders Inline Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #f8efefef;
}

.titule{
    color: rgba(202, 77, 5, 0.753);
    font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.linea{
    width: 100%;
    height: 2px;
    background-color: rgba(228, 107, 37, 0.664);
    margin: 10px auto;
}

button{
    border-color: aliceblue;
    border-radius: 5px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #f8efefef;
    background-color: rgba(202, 78, 5, 0.534);
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 10px;
    margin: 10px;


}

html{
    scroll-behavior: smooth;
}

.ContenedorFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(26, 70, 66, 0.418);
    padding: 10px;
    border-radius: 6px;
    
}

.item{

    margin: 90px;
    border: 2px solid;
    text-align: center;
    line-height: 25px;
    font-size: 70px;

    
}

html{
    scroll-behavior: smooth;
}

@media screen and (max-width:1200px) {
    
    body{
        background-color: black;
        color: blueviolet;
    }

    .Titulo{
        font-size: 30px;
    }
} 