* {
    box-sizing: border-box;
    
}

body{
    background-color: beige;
}


.ContenedorFlex{
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    
    background-color: rgb(243, 217, 184);
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.363);
    
}

.item{
    background-color: rgb(89, 163, 163);
    width: 100px;
    margin: 10px;
    border: 2px solid;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
    
}


.ContenedorFlexJ{
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: center;
    
    background-color: rgb(121, 214, 118);
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.363);
    
}

.ContenedorFlexJD{
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: end;
    
    background-color: rgb(132, 118, 214);
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.363);
    
}

.ContenedorFlexJI{
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: start;
    
    background-color: rgb(214, 118, 131);
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.363);
    
}

.ContenedorFlexJSA{
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: space-around;
    
    background-color: rgb(118, 176, 214);
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.363);
    
}

.ContenedorFlexJSB{
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: space-between;
    
    background-color: rgb(214, 208, 118);
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.363);
    
}

.ContenedorFlexW{
    display: flex;
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    
    background-color: rgb(93, 185, 70);
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.363);
    
}

.ContenedorFlexWR{
    display: flex;
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    
    background-color: rgb(162, 54, 172);
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.363);
    
}

.ContenedorFlexAIC{
    display: flex;
    width: 600px;
    height: 400px;
    flex-direction: row;
    align-items: center;
    
    background-color: rgb(187, 34, 34);
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.363);
    
}

.ContenedorFlexAIFE{
    display: flex;
    width: 800px;
    height: 400PX;
    flex-direction: row;
    align-items: flex-end;
    
    background-color: rgb(29, 7, 110);
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.363);
    
}

.ContenedorFlexAIS{
    display: flex;
    width: 800px;
    height: 400PX;
    flex-direction: row;
    justify-content: flex-start;
    
    background-color: rgb(132, 118, 214);
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.363);
    
}

.ContenedorFlexAICC{
    display: flex;
    width: 800px;
    height: 400PX;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(7, 81, 110);
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.363);
    
}


.ContenedorFlexAICCc{
    display: flex;
    width: 800px;
    height: 400PX;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(97, 182, 18);
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.363);
    
}

.ContenedorFlexAICCc:hover{
    background-color: blue;
}