
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: rgb(11, 106, 133);
    color: black;    
    font-family: Arial, Helvetica, sans-serif;
}

.Container{
    max-width: 1110px;
    margin: 0 auto;
}

.Fondo{
    padding: 37px 0;
    background-color: rgb(197, 8, 125);

}

.Menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.Logo{
    font-size: 30px;
    color: aqua;
    font-weight: 800;
    text-transform: uppercase;
}

.Menu .Navbar ul li{
   position: relative;
   float: left;
}

.Menu .Navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: antiquewhite;
    display: block;
}

.Menu .Navbar ul li a:hover{
    color: aquamarine;
}

#Menu{
    display: none;
}

.Menu-Icon{
    width: 25px;
}
.Menu label{
    cursor: pointer;
    display: none;
}






@media(max-width:991px) {
    .Menu{
        padding: 30px;
    }

    .Menu label{
        display: initial;
    }

    .Menu .Navbar{
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background-color: #2A39AF;
        display: none;
    }

    .Menu .Navbar ul li{
        width: 100%;
    }

    #Menu:checked ~ .Navbar{
        display:initial;
    }
}