
/* Selector Universal */
*{
    margin: 0;
    padding: 0;
}

/* Selector de etiqueta */
body{
    background-image: url(/img/1fmrmr.png);
    background-size: cover;
    background-repeat: no-repeat;

}

/* Selector de ID*/
#Menu{
 
    background-color:rgba(116, 62, 160, 0.233);
    margin: 0.5em;
    border-radius: 7px;
}

#Contenedor{

    background-color: rgba(64, 53, 73, 0.479);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* Selector de ID */
#Encabezado{
    border-radius: 10px;
    text-align: center;
}

.logoFlex{
    display: block;
}
/* Selector de Etiqueta */
ul{
    padding: 10px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}


li a:hover{
    color: rgb(220, 20, 220);
    font-size: 15px;
    text-decoration:  none;
    list-style: none;
}

/* Selector de Clase */


.texto{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #f0e6e6;
}



.pie{
    height: 35px;
    background-color: rgba(64, 53, 73, 0.479);
    margin: 0.5em;
    text-align: center;
    padding: 3px;
}

.pie h4{
    padding: 10px;
    font-size: 15px;
    background-color: rgba(69, 44, 90, 0.281);
}

.card{
    box-shadow: 0 4px 8px 0 rgba(60, 29, 90, 0.603);
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgba(59, 29, 90, 0.76);
   
}

.card:hover{
    max-width: 310px;
}

.card img{
    background-color: rgba(255, 255, 255, 0);
  
}

.card h2{
    font-family: "Lancelot", serif;
    font-weight: 400;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

button{
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(60, 29, 90, 0.603);
    border-color: rgba(44, 16, 71, 0.925);
    border-radius: 5px;
    border:3 #f0e6e6 ;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #f8efefef;
    background-color: rgba(174, 135, 204, 0.925);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 10px;
}

.linea{
    width: 100%;
    height: 2px;
    background-color: rgba(174, 135, 204, 0.925);
    margin: 10px auto;
}

.ContenedorFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.363);
}

.item{
    background-color: rgba(91, 51, 124, 0.534);
    margin: 10px;
    border-radius: 10px;
    line-height: 25px;
    }

/**CODIFICACION DEL MENU**/

.btn {
    width: 55px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background:#5f318aab;
    color: #f5f5f5;
  }
  
  .btn:hover {
    box-shadow: 0 0 20px 0px #918a97ab;
  }
  
  .btn .icon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  
  .btn .text {
    transform: translateX(55px);
  }
  
  .btn:hover .icon {
    width: 70px;
  }
  
  .btn:hover .text {
    transition: all 0.5s;
    opacity: 0;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active .icon {
    transform: scale(0.85);
  }

  .links{
    background: #46325aab;
    max-width: 20%;
    display: none;
    position: absolute;
    top:9%;
    top:calc(11%);
    left: 50px;
  }

  .links a{
    text-decoration: none;
    color: #f0e6e6;
    display: block;
    padding: 13px;
  }

  .btn:hover+.links,.link a:hover{
    background-color: #f0e6e6;
  }

  .desplegable:hover .links{
    display: block;
  }




@media (max-width:1024px){
    body{
        background-image: url(/img/rositaaaa.jpg);

    }

    .card{
      background-color: rgba(248, 174, 252, 0.322);
    } 
    .links{
      font-size: 14px;
      max-width: 9%;
      top:calc(11%);
      left: 50px;
    }

    .links a{

      color: #f0e6e6;
      display: block;
      padding: 6.5px;
    }
  

    .logoFlex{
        max-width: 90%;
    }

    .ContenedorFlex{
        display: flex;
    
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
        padding: 2px;
        border: 0 rgba(0, 0, 0, 0);
    }

    .item{
        background-color: rgba(97, 47, 148, 0);
        border-radius: 10px;
        line-height: 20px;
        margin: 2%;
    }

    .btn .text {
        transform: translateX(55px);
      }
      
      .btn:hover .icon {
        width: 70px;
      }
      
      .btn:hover .text {
        transition: all 0s;
        opacity: 0;
      }
      
      .btn:focus {
        outline: none;
      }
      
      .btn:active .icon {
        transform: scale(0);
      }
      button{
        padding: 10px;
        width: 70%;
        font-size: 10px;
    }
}

    
@media (max-width:600px) {
  body{
    background-image: url(/img/blanco.jpg);

  }

 
  .btn{
    width: 30px;
    height: 30px;
  }
   
  .logoFlex{
    max-width: 70%;
  }
  .item{
    background-color: #4b088d00;
    border-radius: 10px;
    line-height: 20px;
    margin: 1%;
  }

  .links{
    background: #46325aab;
    max-width: 70%;
    display: none;
    position: absolute;
    top:40%;
    top:calc(9%);
    left: 50px;
  }

  .links a{
    padding: 4px;

  }

  .btn .text {
    transform: translateX(0em);
  }      

  

 

  button{
    padding: 5px;
    width: 50%;
    font-size: 10px;
  }
    
}
