*{
    margin: 10px;

}

body{
    background-image: url(/img/1fmrmr.png);

}

.Contenedor{
    margin: 50px;
    background-color:rgba(116, 62, 160, 0.233);
    border-radius: 25px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
 
}

.X{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
.Boton{
    background-color: rgba(116, 62, 160, 0.842);
    padding: 10px;
    border-radius: 10px;
   
    
}
.BotonEnviar{
    background-color: rgba(116, 62, 160, 0.842);
    padding: 10px;
    border-radius: 10px;
}

.hola{
    margin: 50px;
    background-color:rgba(116, 62, 160, 0.377) ;
    border-radius: 10px;
}

.logoFlex{
    max-width: 90%;
  }
  
  .btn {
      margin: 10px;
      width: 55px;
      height: 50px;
      border-radius: 5px;
      border: none;
      transition: all 0.5s ease-in-out;
      font-size: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 600;
      display: flex;
      align-items: center;
      background:#5f318aab;
      color: #f5f5f5;
      padding: 5px;
    }
    
    .btn:hover {
      box-shadow: 0 0 20px 0px #918a97ab;
    }
    
    .btn .icon {
      position: absolute;
      height: 40px;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;
    }
    
    .btn .text {
      transform: translateX(55px);
    }
    
    .btn:hover .icon {
      width: 70px;
    }
    
    .btn:hover .text {
      transition: all 0.5s;
      opacity: 0;
    }
    
    .btn:focus {
      outline: none;
    }
    
    .btn:active .icon {
      transform: scale(0.85);
    }
  
    .links{
      background: #46325aab;
      max-width:25%;
      display: none;
      position: absolute;
      top:50%;
      top:calc(6%);
      left: 35px;
      
    }
  
    .links a{
      text-decoration: none;
      color: #f0e6e6;
      display: block;
      padding: 7px;
    }
  
    .btn:hover+.links,.link a:hover{
      background-color: #f0e6e6;
    }
  
    .desplegable:hover .links{
      display: block;
    }

        
    @media (max-width:600px) {
        .links{
            background: #46325aab;
            max-width: 20%;
            display: none;
            position: absolute;
            top:40%;
            top:calc(6.5%);
            left: 30px;
        }
    
        .links a{
             padding: 2px;
    
        }
    }
    