/*SELECTOR UNIVERSAL*/

*{
    margin: 0;
    padding: 0;
}

.Titulo{
    font-size: 40px;
    text-align: center;
}

.Subtitulo{
    margin: 10px;
    text-align: center;
}

.img{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.Contener{
    border: 2px solid;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
}

/**/
body{
    background-color: rgb(13, 177, 136);
}

@media screen and (max-width:1200px) {
    
    body{
        background-color: black;
        color: blueviolet;
    }

    .Titulo{
        font-size: 30px;
    }
} 

@media (Max-width:900px) {
     
    body{
        background-color: blueviolet;
        color: black;
    }

    .Titulo{
        font-size: 25px;
    }

    .img{
        width: 70%;
    }
}

@media (Max-width:600px) {
     
    body{
        background-color: rgb(43, 226, 52);
        color: rgb(43, 173, 196);
    }

    .Titulo{
        font-size: 15px;
    }

    .img{
        width: 50%;
    }
}

@media (Max-width:400px) {
     
    body{
        background-color: rgb(226, 43, 180);
        color: rgb(190, 26, 26);
    }

    .Titulo{
        font-size: 10px;
    }

    .img{
        width: 30%;
    }
}